<%= form_for @article, :html => { :class => "form-horizontal article" } do |f| %>

    <% if @article.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @article.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :category, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.select_tag :category_ids, options_from_collection_for_select(@categories, 'id','name'), :class => 'form-control', :multiple=>true %>
      </div>
      <%=f.error_span(:title) %>
    </div>

    <div class="form-group">
      <%= f.label :title, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
      <%=f.error_span(:title) %>
    </div>
    <div class="form-group">
      <%= f.label :description, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :description, :class => 'form-control' %>
      </div>
      <%=f.error_span(:description) %>
    </div>
    <div class="form-group">
      <%= f.label :price, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :price, :class => 'form-control' %>
      </div>
      <%=f.error_span(:price) %>
    </div>
    <div class="form-group">
      <%= f.label :user_name, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :user_name, :class => 'form-control' %>
      </div>
      <%=f.error_span(:user_name) %>
    </div>
    <div class="form-group">
      <%= f.label :user_phone, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :user_phone, :class => 'form-control' %>
      </div>
      <%=f.error_span(:user_phone) %>
    </div>
    <div class="form-group">
      <%= f.label :user_email, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :user_email, :class => 'form-control' %>
      </div>
      <%=f.error_span(:user_email) %>
    </div>



    <div class="form-group">
      <%= f.label :img_1, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.file_field :img_1 %>
      </div>
      <%=f.error_span(:img_1) %>
    </div>


    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),  articles_path, :class => 'btn btn-default' %>
      </div>
    </div>

<% end %>
