<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @article.price %>
</p>

<p>
  <strong>User name:</strong>
  <%= @article.user_name %>
</p>

<p>
  <strong>User phone:</strong>
  <%= @article.user_phone %>
</p>

<p>
  <strong>User email:</strong>
  <%= @article.user_email %>
</p>

<p>
  <strong>Img 1:</strong>
  <%= @article.img_1 %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
